<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SC4052 Project</title>
</head>
<body>
    <div class="header">
        <div class="header-text">Welcome to Hon Joo's Compiler as a Service!</div>
    </div>
    <div class="middle-section">
        <div class="description">
            This application is a small project for a compiler as a service. With this application, you can compile code in the 
            Tiny BASIC language into C code! Additionally, this C code is compilable and runnable!

            To start, upload a Tiny BASIC code file. The file must end with the extension ".teeny".
        </div>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="fileInput" name="fileInput" accept=".txt" required>
            <button type="submit">Compile!</button>
        </form>
    </div>
    <p id="output"></p>
    <div class="footer">
        This project was done in the spirit of learning about compilers and building web applications.
    </div>
    <script>
        document.getElementById("uploadForm").addEventListener("submit", function(event){
            event.preventDefault(); // Prevent default form submission

            var formData = new FormData();
            formData.append("file", document.getElementById("fileInput").files[0]);

            fetch("/compile_and_return", {
                method: "POST",
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = url;
                a.download = "compiledoutput.c";
                document.body.appendChild(a);
                a.style = "display: none";
                a.click();
                window.URL.revokeObjectURL(url);
            });
        });
    </script>
</body>
</html>
